<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrp/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가 -->
<script src="/js/app/index.js"></script>
<!--
스프링부트는 기본적으로,
src/main/resources/static 경로에 있는 정적(static) 파일(=css, js, image등)들은 src에서 URL이 경로 /로 시작함
(src/main/resources/static/js/... == http://도메인/js/...)
-->
</body>
</html>
