{{!
머스테치 파일 위치는 기본적으로 : src/main/resources/templates
이 파일 위치에 머스테치 파일을 두면 스프링 부트에서 자동 로딩

레이아웃 방식 : 공통 영역을 별도의 파일로 분리하여 필요한 곳에서 가져다 쓰는 방식
참고) 페이지 로딩속도를 높이기 위해, HTML은 위에서부터 코드가 실행되는 것을 이용해서
- css(화면을 그리는 역할, 깨진 화면이 보이지 않도록)는 header에,
- js(용량이 커서 실행이 늦어질 수 있기에)는 body에 둠
}}
{{>layout/header}}
{{! 위의 대괄호({}) 2개와 부등호(>)로 현재 머스테치 파일을 기준으로 다른 파일을 불러올 수 있음  }}

<h1>임중도원이니, 사이후이 : 살아있는한 계속 힘쓴다</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
            {{#username}}   {{! 머스테치는 if문을 제공하지 않고, true/false 여부만 판단하는데, '#변수' 블록문은 변수가 존재할 때(true) 생성 }}
                로그인 중인 계정 : <span id="user">{{username}}</span>
                <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
                <!-- /logout
                 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 URL
                 (별도로 컨트롤러를 만들 필요 없음, SecurityConfig 클래스에서 URL 변경 가능)
                 -->
            {{/username}}
            {{^username}}   {{! '^변수' 블록문은 변수가 존재하지 않을 때(false) 생성 }}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 로그인</a>
                <!-- /oauth2/authorization/google
                 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL
                 (로그인처럼 별도로 컨트롤러를 만들 필요 없음)
                -->
            {{/username}}
        </div>
    </div>
    <br>
<!-- 목록 출력 영역 -->
    <table class="table table-horizontal table=bordered">
        <thead class="thead-strong">
        <tr>
            <th>게시글 번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>최종 수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
<!-- 머스테치 문법, posts라는 List를 순회 (== Java의 for of 문) -->
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
<!-- 중괄호({) 두개로 감싼 필드명으로, List에서 뽑아낸 객체의 필드 값을 불러옴 -->
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}
