{{!
머스테치 파일 위치는 기본적으로 : src/main/resources/templates
이 파일 위치에 머스테치 파일을 두면 스프링 부트에서 자동 로딩

레이아웃 방식 : 공통 영역을 별도의 파일로 분리하여 필요한 곳에서 가져다 쓰는 방식
참고) 페이지 로딩속도를 높이기 위해, HTML은 위에서부터 코드가 실행되는 것을 이용해서
- css(화면을 그리는 역할, 깨진 화면이 보이지 않도록)는 header에,
- js(용량이 커서 실행이 늦어질 수 있기에)는 body에 둠
}}
{{>layout/header}}
{{! 위의 대괄호({}) 2개와 부등호(>)로 현재 머스테치 파일을 기준으로 다른 파일을 불러올 수 있음  }}

<h1>임중도원이니, 사이후이 : 살아있는한 계속 힘쓴다</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
</div>

{{>layout/footer}}
